* {
    padding: 0;
    margin: 0;
}

.not-found-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}